.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fontconf.h
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h?
xfont.pc
*~
*.la
*.lo
*.o
libXfont-*.tar.*
ChangeLog
tags
doc/fontlib.txt
doc/fontlib.html
doc/fontlib.ps
doc/fontlib.pdf
